<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Doom Data File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeIconFile</key>
			<string>zdoom.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wad</string>
				<string>pk3</string>
				<string>pk7</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>org.zdoom.ZDoom</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>zdoom</string>
	<key>CFBundleIconFile</key>
	<string>zdoom.icns</string>
	<key>CFBundleName</key>
	<string>ZDoom</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.0</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleLongVersionString</key>
	<string>2.6.0</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
</dict>
</plist>
