# Object files
*.o
*.ko
*.obj
*.elf


# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#user profile(s)
*.suo

/ezDoom/bin
/ezDoom/obj
.vs/ezDoom/v15/sqlite3/storage.ide-wal
.vs/ezDoom/v15/Server/sqlite3/db.lock
.vs/ezDoom/v15/Server/sqlite3/storage.ide
.vs/ezDoom/v15/Server/sqlite3/storage.ide-wal
.vs/ezDoom/v15/Server/sqlite3/storage.ide-shm
.vs/ezDoom/v15/sqlite3/db.lock
.vs/ezDoom/v15/sqlite3/storage.ide
.vs/ezDoom/v15/sqlite3/storage.ide-shm
ezDoom Installer/Release/ezDoom Installer.msi
ezDoom Installer/Release/ezDoom Installer.tmp
